#walrus-showing {
  display: none;
}

.hide-image {
  display: none;
}

.walrus-facts {
  display: none;
}

h2 {
  float: right;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable-facts {
  cursor: pointer;
  color: #0088cc;
}

.clickable-facts:hover {
  text-decoration: underline;
}